{% extends "portfolio/base.html"%}

{% load static %}

{% block content%}
<div class="zoomParticle"style="opacity:.06"></div>

    <div id="info"class="container content-section2" style="text-align: left; margin-top: 50px;">
        <center>
        <h1 style="color:white">About Me</h1>

        <p style="color:white">
            nealmick99@gmail.com
            <br>
            github.com/nealmick
        </p>

        </center>


        <h1 style="color:white">Information Systems Experience</h1>

        <p style="color:white">					    
            • Written thousands of lines of Python and JavaScript. Proficient in Java, C, HTML, CSS, and Bash.
         </p>
         <p style="color:white">					    
           • Experienced with libraries such as Django, Tensorflow, NumPy, PyTorch, Flask, Pickle and many more.
           </p>
         <p style="color:white">					    
            • Worked Extensively with Linux distributions such as Ubuntu, Arch, and Kali OS, run on servers from Digital Ocean, AWS, and Google Cloud Platform.
         </p>
        
        <h1 style="color:white">Education</h1>

        <p style="color:white">
            • Information Systems, specialization in Cyber Security, Piedmont Virginia Community College, 2019 - Present
        </p>        
        <p style="color:white">
            • Pertinent courses include; Computer Science, Client Side Scripting, TCP/IP Networking, Computer Forensics, Network Security, Windows and Linux Server Administration, Java, C, and Python classes.
        </p>
        <p style="color:white">
            • Internship, McIntire School of Commerce, University of Virginia, Summer 2015.
        </p>

        
        <h1 style="color:white">References</h1>
        
        
        <p style="color:white">
            
            • Mike Ferero, Instructor of Information Technology & Systems, Piedmont Virginia Community College.
        </p>
        <p style="color:white">
            mferero@email.vccs.edu
        </p>
    
        <p style="color:white">
            • Rob Chang, Enterprise Systems Support Engineer, McIntire School of Commerce, University of Virginia.

        </p>
        <p style="color:white">
            rc2cb@comm.virginia.edu
        </p>

        
        <center>
        <a href="https://docs.google.com/document/d/1VmPo1DhGabotE-iPHQo4Smfxps2xDJPFB1t4InSt5jY/edit?usp=sharing" target="_blank" class="btn btn-outline-info"> Download Resume <i class="fas fa-download"></i></a>
       </center>

    </div>
    <div class="homeChess"></div>
    <br>
    <br>
    <br>
{%endblock%}