{% extends "cube/base.html"%}

{% load static %}

{% block content%}
    <div id="info"class="container" style="text-align: left; margin-top: 50px;">
        <center>
        <h1 style="color:white">About Me:</h1>

        <p style="color:white">
            nealmick99@gmail.com
            <br>
            github.com/nealmick
        </p>

        </center>
    <hr style="background-color: 737373;">


        <h1 style="color:white">Information Systems Experience</h1>

        <p style="color:white">					    
            • Worked Extensively with Python and Java languages. Proficient in C, JavaScript, HTML, CSS, and Bash.
        </p>
        <p style="color:white">					    
           • Experienced with libraries such as Django, Tensorflow, NumPy, PyTorch, Seaborn, Flask, Pickle and many others.
        </p>
        <p style="color:white">					    
           • Advanced understanding of Linux distributions including Ubuntu, Arch, and Kali OS, run on servers from Digital Ocean, AWS, and Google Cloud Platform.
        </p>
        <h1 style="color:white">Reference Projects</h1>
        <p style="color:white">
            • Rubik’s Cube - Solves itself instantly and is rendered in-browser with intuitive controls.
  
        </p>
        <p style="color:white">
           • Tic Tac Toe - But you never win, checks all possible board states, and might beat you.
        </p>
        <p style="color:white">
           • Chess Engine - Only takes a few seconds to evaluate any position, and performs at roughly 2,000 ELO.
        </p>
        <p style="color:white">
            • Neural Network - Predicts NBA game winners by player stats, trained on historical data from the past 20 years.
        </p>
        <h1 style="color:white">Education</h1>
        <p style="color:white">
            • Information Systems, specialization in Cyber Security, Piedmont Virginia Community College, 2019 - Present
        </p>        
        <p style="color:white">
            • Pertinent courses include; Computer Science, Client Side Scripting, TCP/IP Networking, Computer Forensics, Network Security, Windows and Linux Server Administration, Java, C, and Python classes.
        </p>
        <p style="color:white">
            • Internship, McIntire School of Commerce, University of Virginia, Summer 2015.
        </p>
        <p style="color:white">
            • Brandon Hall High School, Atlanta, GA 2012 - 2016
        </p>
        
        <h1 style="color:white">References</h1>
        
        
        <p style="color:white">
            
            • Mike Ferero, Instructor of Information Technology & Systems, Piedmont Virginia Community College.
        </p>
        <p style="color:white">
            mferero@email.vccs.edu
        </p>
    
        <p style="color:white">
            • Rob Chang, Enterprise Systems Support Engineer, McIntire School of Commerce, University of Virginia.

        </p>
        <p style="color:white">
            rc2cb@comm.virginia.edu
        </p>

        
        <center>
        <a href="https://docs.google.com/document/d/1VmPo1DhGabotE-iPHQo4Smfxps2xDJPFB1t4InSt5jY/edit?usp=sharing" target="_blank" class="btn btn-outline-info"> Download Resume <i class="fas fa-download"></i></a>
       </center>

    </div>
    <div class="homeChess"></div>
{%endblock%}