{% extends "portfolio/base.html"%}

{% load static %}
{% block content%}


{% load static %}
</div>
</div>

<div class="zoomParticle"style="opacity: .2;"></div>
    
<title>TicTacToe</title>
<center>
    
    <h1 id='winner' style="  
    color: #17a2b8;
    font-size: 60px;
    font-family: sans-serif;">TicTacToe!</h1>

        <div class="board2 asdf2 col-md-6" id="board" style="margin-top:0;margin-left:auto;margin-right: auto;">
            <div class="cell2" id='box1' data-cell  onclick="box1()"></div>
            <div class="cell2" id='box2' data-cell onclick="box2()"></div>
            <div class="cell2" id='box3' data-cell onclick="box3()"></div>
            <div class="cell2" id='box4' data-cell onclick="box4()"></div>
            <div class="cell2" id='box5' data-cell onclick="box5()"></div>
            <div class="cell2" id='box6' data-cell onclick="box6()"></div>
            <div class="cell2" id='box7' data-cell onclick="box7()"></div>
            <div class="cell2" id='box8' data-cell onclick="box8()"></div>
            <div class="cell2" id='box9' data-cell onclick="box9()"></div>
        </div>

            <button class="btn btn-outline-info " id="reset-btn" onclick="restart()">Restart</button>
        </center>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </div>
{% endblock content %}
